* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

.wrapper {
    width: 100%;
    padding: 10px;


}


.image-container-main {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.position {
    font-size: 8px;

}

.name {
    font-size: 12px;
}

.image11 {
    background: url(../psd-images/team-1.jpg);
    height: 400px;
    width: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 10px;
}

.image12 {
    background: url(../psd-images/team-2.jpg);
    height: 400px;
    width: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 10px;
}

.image13 {
    background: url(../psd-images/team-3.jpg);
    height: 400px;
    width: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 10px;
}

.overlay {
    background: black;
    width: 100%;
    padding: 30px;
    opacity: 0.8;
    bottom: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    position: absolute;

}

.text-name {
    position: absolute;
    width: 200px;
    top: 50%;
    margin-left: 10px;

}

.con {
    padding-top: 10px;
}

.overlay1 {
    background: black;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0.8;
    bottom: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
    position: absolute;

}

.title-txt h2 {
    text-transform: uppercase;
}

.team {
    text-align: center;
    margin-top: 150px;
    text-transform: capitalize;

}

.skill-container {
    background: #f1f1f1;

}

.skill {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 10px;
    flex-wrap: wrap;


}

.total1 {
    padding-left: 50px;

    height: 400px;
}

.progress-main {
    background: gray;
    border-radius: 10px;
    height: 10px;
    width: 500px;
    margin-bottom: 27px;
}

.progress {
    background: green;
    width: 55%;
    height: 10px;
    border-radius: 10px;

}

.txt {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.txt li {
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 12px
}

.progress-bar-container {
    text-align: center;
}

.progress-web {
    background: green;
    width: 70%;
    height: 10px;
    border-radius: 10px;
}

.progress-photography {
    background: green;
    width: 95%;
    height: 10px;
    border-radius: 10px;
}

.progress-branding {
    background: green;
    width: 70%;
    height: 10px;
    border-radius: 10px;
}

.btn {
    text-align: center;
    margin: 50px 0px
}

.about {
    width: 470px;
    padding: 10px;
    margin: 5px;
}

.about h2 {
    text-align: center;

}

h2 {
    text-transform: uppercase;
}

.title-p {
    margin-bottom: 30px;
}

.about-main {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.service-main h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;

}


p {
    text-align: center;
}

.text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    text-transform: uppercase;
    color: #282828;

}

.services {
    width: 300px;
    text-align: center;
    margin-right: 5px;
    padding: 10px;
}

.service-main-sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
}

body {
    background: #fff;
}

.works {
    text-align: center;
    margin-top: 50px;
}

.works a {
    color: black;
    text-decoration: none;


}

.works-main-sec {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.works-main-sec .works-sec {
    padding: 10px;
    width: 300px;
    margin: 5px;

}

.works a:hover {
    color: green;
}


.divider {
    width: 80px;
    border-top: 2px solid black;
    text-align: center;
    left: 50%;
    right: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px
}

h1 {
    font-size: 50px;
}

button {
    padding: 10px 30px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 3px;
    border-color: black;

}

button:hover {

    color: mediumvioletred;
}

button.b {
    background: rgb(120, 170, 50);
}

.bg {
    background-image: url('../psd-images/why-choose-us.jpg');
    background-size: cover;
    background-position: left;
    height: 600px;
    text-align: center;
    position: relative;
    width: 100%;
}

header {
    background: rgb(252, 252, 253);
    width: 100%;
    opacity: 0.9;
   


}


nav ul {

    opacity: 0.9;
    display: flex;
    width: 100%;


}


li {
    list-style-type: none;

    text-align: center
}

li a {
    text-decoration: none;
    color: black;
    padding: 15px 25px;
    display: block;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;

}

.active,
li a:hover {
    color: green;
}



.search {
    margin-top: 10px;
    padding: 13px;
    border: 1 px solid gray;
    font-weight: 200;
    height: 18px
}

.icon {
    margin-top: 10px;
}

.menu-toggle {
    color: white;
    text-align: right;
    padding: 5px 10px;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    width: 100%;

    background: black;
    display: none;

}

span {
    border-radius: 5px;
    border: 2px solid gold;
    padding: 5px 8px;
}

.client-container {
    background: url(../psd-images/about-bg-img%20-%20Copy.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;

    position: relative;
    margin: 0 auto;



}

.client {
    text-align: center;
    position: relative;
}

.overlay2 {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    padding-top: 50px;
    color: white;
    text-transform: uppercase;
}

.overlay2 h2 {
    font-weight: 800;
    font-size: 17px;
}

.overlay2 p {
    font-family: monospace;
    font-size: 12px;


}

.overlay2 .divider {
    color: white;
    width: 50px;
    border-bottom: 1px solid;
}

.circle-image1 {
    background: url('../psd-images/women.gif');
    background-size: cover;
    width: 140px;
    height: 140px;
    border: 2px solid gray;
    box-shadow: 0px 3px 3px 0px white;
    border-radius: 50%;
    margin: 20px 50px 20px 10px;
    padding: 20px;


}

.circle-image2 {
    background: url(../psd-images/man1.gif) no-repeat;
    background-size: cover;
    width: 140px;
    height: 140px;
    border: 2px solid gray;
    box-shadow: 0px 3px 3px 0px white;
    border-radius: 50%;
    padding: 20px;
    margin: 0px 50px 20px 10px;



}

.text-box {
    background: white;
    width: 300px;
    height: 150px;
    position: relative;
    padding: 40px 10px
}

.text-box h2 {
    color: black;
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    padding-left: 20px
}

.pa {
    color: black;
    text-align: left;
    padding: 0 0 20px 20px;
}

.text-box .message {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: black;
    text-align: justify;
    padding-left: 20px
}

.cirle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 1000px;
    margin: 50px auto;
}


.square {
    background: white;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45%;
    left: -15px;
    transform: rotate(45deg);
}

.blogs {
    text-align: center;
    text-transform: uppercase;
}

.post-image {
    background: url(../psd-images/proj7.jpg) no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 5px;

}

.post-image1 {
    background: url(../psd-images/proj3-free-img.jpg) no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 5px;

}

.overlay3 {
    position: absolute;
    background: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;

}

.icon-img {
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(30%, 100px);

}

h6 {
    font-size: 15px;
    text-transform: uppercase;
    margin: 30px 0;
}

.post-text {
    width: 250px;
    margin: 0 20px;

}

.post-text p {
    text-align: justify;
}

.blogs {
    margin-top: 50px;
    margin-bottom: 50px
}

.bl-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1100px;
    justify-content: center;
    margin: 0 auto;
    position: relative;


}

.partner {
    text-align: center;
    margin: 50px 0;

}

.partner h2 {
    text-transform: uppercase;
}

.p-items {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow-x: scroll;
}

.signup-news {
    text-align: center;
    margin: 50px 0;

}

.signup-news p {
    margin-bottom: 50px;

}

.background-sign {
    background: url('../images/p2.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    margin-top: 50px;


}

.background-sign .divider {
    color: white;
    border: 1px solid;
}

.subscribe {
    width: 500px;
    padding: 10px;
    border: 2px solid white;
    background: none;
    box-sizing: border-box;
    margin-left: 5px;
    border-top-left-radius: 10px;
    color: white;

}

.flex-con {
    display: flex;
    justify-content: center;
}

.overlay4 {
    position: absolute;
    background: black;
    opacity: 0.8;
    width: 100%;
    height: 100%
}

.send-btn {

    border-bottom-right-radius: 10px;
    background: none;
    border: 2px solid white;
}

.footer-container {
    margin-top: 100px;
}

.unify {
    width: 300px;
    margin: 10px;
    padding: 10px;
    height: 350px;
    box-sizing: border-box;
}

.unify h2 {
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px
}

.unify li {
    text-align: left;
    padding: 5px;
    font-family: monospace;
    font-size: 15px;
}

.phone {
    width: 200px;
}

.unify p {
    text-align: justify;
}

.unify ul {
    display: inline-block;
    margin: 10px;


}


.list-table {
    border-bottom: 2px solid gray;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-table1 img {
    width: 80px;
    height: 80px;
    margin: 5px;
}

.list-table1 {
    display: flex;
    flex-wrap: wrap;
}

.post-b {
    width: 140px;
    text-align: justify;



}



.list-table3 {
    display: flex;
    margin-top: 50px;

}


@media screen and (max-width:600px) {
    .menu-toggle {
        display: block;
    }

    header {
        opacity: 0.9;
        position: absolute;
        z-index: 1;
        margin: 0 auto;


    }

    header nav {
        top: 50px;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: black;


    }


    header nav ul {

        display: table;
        width: 100%;
        position: relative;

        text-align: center;



    }

    ul li {
        width: 100%;
    }

    * {
        margin: 0;
        padding: 0;
    }

    ul {
        margin: 0;
        padding: 5px;
    }

    .bg {
        position: relative;
    }

    ul li a {
        color: white;
    }

    .search,
    .icon {
        display: none;
    }

    .about {
        width: 300px;
        padding: 10px;
        margin: 5px;

    }

    .divider {
        width: 80px;
        border-top: 2px solid black;
        text-align: center;
        left: 50%;
        right: 50%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;



    }



    .logo {
        background: #f1f1f1;
        box-sizing: border-box;

    }

    .progress-main {
        background: gray;
        border-radius: 10px;
        height: 10px;
        width: 300px;
        margin-bottom: 27px;
    }

    .txt {
        display: flex;
        justify-content: space-between;
        width: 300px;
    }

    .client-container {
        height: 900px;
    }


}
